# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
dist/
build/
*.egg-info/

# Local env
.venv/
env/

# Logs
*.log

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

api_key.py